@import "com.scss";

@function rem($px) { @return $px / 100px * 1rem; }

@mixin scrollbar(/* aaa */$size) /* aaa */ {
	&::-webkit-scrollbar {
		width: $size;
		height: $size;
		background-color: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #6d6d6d;
		border-radius: rem(6px);
	}

	&::-webkit-scrollbar-track {
		background-color: transparent;
		border-left: rem(1px) solid #474747;
	}

	&::-webkit-scrollbar-button {
		width: 0;
		height: 0;
		background-color: #2921ce;
	}
}


%ex-no-select {
	-webkit-user-select: none;
	user-select: none;
}

$co-border: #8f8f8f;
$width: rem(300px);

@media only screen and (max-width:1234px) {
	div { padding: 0; }
}

/*
 * body data
*/
// body data
body {
	@function rem($px) { @return $px / 100px * 1rem; }
	/*
	 * body style
	*/

	// body style

	width: 100%;
	height: 100%;
	background: url(/* asdf */"aaa//sss"); // app style "aaa//sss"

&:hover a {
padding: 5px
5px;
}

	// app style
	.app:hover,  .pc div {
		width: 100%;
		height : auto;
		overflow : hidden;
		overflow-y: auto;

		input {
			border: 0;
			background: transparent;
		}

		area {
			$co-border: #8f8f8f;
			$width: rem(300px);
			$w: 80px;
			padding: 5px 5px 5px 5px;
			transform: scale(0.3);
			@extend input;
			@extend %ex-no-select;
			@include scrollbar(rem($w));
			&:hover { color: #f00; }
		}
	}
}
